InstanceName = <%= @setup %>

Setup = <%= @setup %>

VirtualOrganization = lhcb
Extensions = LHCb
Hostname = <%= @server_name %>


Password = %TEIGI__<%= @setup %>_dbUser__%

<% if @master_cs %>
  It is a master CS
<% else %>
It is NOT a master CS
<% end %>

Extensions = <%= @all_extensions.join(",") %>


Nginx <% @all_extensions.each do |ext| -%><%= ext %>/WebApp/static/$2 <% end %>

And now ?

all args <%= @config_args %>
one arg <%= @config_args['vo'] %>

Server = <%= @config_args['cs_servers'] %>
Server = <%= @config_args['cs_servers'][1,-1] %>
Server = <%= @config_args['cs_servers'][1, 10] %>
List
Server =
<% @config_args['cs_servers'][1, 10].each do |srv| %>
  Server += <%= srv -%>
<% end %>

Finish