#
# This section determines which DIRAC components will be installed and where
#
LocalInstallation
{
  #
  #   These are options for the installation of the DIRAC software
  #
  #  DIRAC release version (this is an example, you should find out the current
  #  production release)
  Release = <%= @dirac_config_args['version'] %>
  #  Python version of the installation
  PythonVersion = 27
  #  To install the Server version of DIRAC (the default is client)
  InstallType = server
  #  If this flag is set to yes, each DIRAC update will be installed
  #  in a separate directory, not overriding the previous ones
  UseVersionsDir = yes
  #  The directory of the DIRAC software installation
  TargetPath = /opt/dirac
  #  DIRAC extra modules to be installed (Web is required if you are installing the Portal on
  #  this server).
  #  Only modules not defined as default to install in their projects need to be defined here:
  #   i.e. LHCb, LHCbWeb for LHCb
  Extensions = <%= @all_extensions.join(",") %>
  Project = DIRAC
  #
  #   These are options for the configuration of the installed DIRAC software
  #   i.e., to produce the initial dirac.cfg for the server
  #
  #  Give a Name to your User Community, it does not need to be the same name as in EGI,
  #  it can be used to cover more than one VO in the grid sense
  #  VirtualOrganization = <%= @dirac_config_args['vo'] %>
  #  Site name
  SiteName = <%= @server_name %>
  #  Setup name
  Setup = <%= @dirac_config_args['setup'] %>
  #  Default name of system instances

  InstanceName = <%= @dirac_config_args['instance'] %>
  #  Flag to skip download of CAs, on the first Server of your installation you need to get CAs
  #  installed by some external means
  SkipCADownload = yes
  #  Flag to use the server certificates
  UseServerCertificate = yes
  #  Configuration Server URL (This should point to the URL of at least one valid Configuration
  #  Service in your installation, for the primary server it should not used )
  #  ConfigurationServer = dips://myprimaryserver.name:9135/Configuration/Server


 #
  #   These options define the DIRAC components to be installed on "this" DIRAC server.
  #
  #
  #  The next options should only be set for the primary server,
  #  they properly initialize the configuration data
  #
  #  Name of the Admin user (default: None )
  #AdminUserName = joel
  #  DN of the Admin user certificate (default: None )
  #  In order the find out the DN that needs to be included in the Configuration for a given
  #  host or user certificate the following command can be used::
  #
  #          openssl x509 -noout -subject -enddate -in <certfile.pem>
  #
  #AdminUserDN = /DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=joel/CN=382894/CN=Joel Closier
  #  Email of the Admin user (default: None )
  #AdminUserEmail = joel.closier@cern.ch
  #  Name of the Admin group (default: dirac_admin )
  #AdminGroupName = dirac_admin
  #  DN of the host certificate (*) (default: None )
  HostDN = /DC=ch/DC=cern/OU=computers/CN=<%= @server_name %>

  # Define the Configuration Server as Master for your installations
  <% if @master_cs %>
  ConfigurationMaster = yes
  ConfigurationName = <%= @master_config_name %>
  <% else %>
  ConfigurationMaster = no
  ConfigurationServer = <%= @dirac_config_args['cs_servers'][0]  %>

  <% end %>

  #
  #  The following options define components to be installed
  #
  #  Name of the installation host (default: the current host )
  #  Used to build the URLs the services will publish
  #  For a test installation you can use 127.0.0.1
  # Host = dirac.cern.ch
  Host = <%= @server_name %>
  #  List of Services to be installed
  Systems = Accounting
  Systems += Configuration
  Systems += DataManagement
  Systems += Framework
  Systems += Monitoring
  Systems += RequestManagement
  Systems += ResourceStatus
  Systems += StorageManagement
  Systems += Transformation
  Systems += WorkloadManagement

  Services = Framework/SystemAdministrator
  <% if @master_cs %>
  Services += Configuration/Server
  Services += Framework/ComponentMonitoring
  <% end %>

  #  Flag determining whether the Web Portal will be installed
  <% if @webportal %>
  WebPortal = yes
  <% end %>
  #
  #  The following options defined the MySQL DB connectivity
  #
  Database
  {
    User = Dirac
    Password = %TEIGI__<%= @dirac_config_args['setup'] %>_dbPassword__%
    Host = dbod-dcertif.cern.ch
    Port = 5501
  }
}
